a {
  width: 80px;
  padding: 10px;
  background: rgb(233, 200, 114);
  color: rgb(0, 0, 0);
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 10px;
  margin: 30px;
}

a:hover {
  background: #e5a70a;
}
