<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="display: flex; align-items: center; flex-direction: column">
<form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search" [(ngModel)]="searchQuery">
  <ng-select [multiple]="true" class="custom"  placeholder="filter" [(ngModel)]="selectedOptionsTags" name="somethingf">
    <ng-option *ngFor="let option of values(Tags); let i = index" [value]="option">
    {{option}}
  </ng-option>
  </ng-select>
  <ng-select [multiple]="true" class="custom"  placeholder="color" [(ngModel)]="selectedColors" name="something">
    <ng-option *ngFor="let option of colors; let i = index" [value]="option">
      {{option}}
  </ng-option>
  </ng-select>
  <button type="submit"  (click)="search()"><i class="fa fa-search"></i></button>
</form>
<ul style="justify-content: center">
  <li *ngFor="let product of products" class="card">
      <img [src]="product.image" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{ product.name }}</b></h4>
        <p>{{product.description}}</p>
        <button class="add-button" (click)="addItem(product)">Add</button>
      </div>
  </li>
</ul>
</div>
