<div style="margin: 100px 60px 20px 40px">
  <div style="font-size: 20px; margin-bottom: 30px">
    Log in
  </div>
  <div style="margin-bottom: 25px">
    <input style="padding: 10px; font-size: 15px; border: 2px solid #CDC8BE; width: 100%; border-radius: 30px;" class="fa fa-user" type="text" placeholder="  &#xf007;   Email" name="email" [(ngModel)]="email">
  </div>
  <div style="margin-bottom: 25px">
    <input style="padding: 10px; font-size: 15px; border: 2px solid #CDC8BE; width: 100%; border-radius: 30px;" class="fa fa-user" type="text" placeholder="  &#xf023;   Password" name="password" [(ngModel)]="password">
  </div>
  <div style="margin-top: 50px">
    <button style="background-color: #CDC8BE; padding: 12px; width: 107%; border-radius: 30px; border: 0px" (click)="login()">Log in</button>
  </div>
  <div style="display: flex; justify-content: center; margin-top: 50px">
    <u style="cursor: pointer; color: #CDC8BE; " [routerLink]="['/signup']">Dont have an account? Sign up</u>
  </div>
</div>
