<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <div class="header">
    <div style="font-size: 25px; color: #FB7F64">
      <i style="margin-right: 10px" class="fa fa-heart-o"></i>
      <span class="circle" style="background-color: red; border-radius: 30px; padding: 2px; font-size: 12px; position: absolute; margin-left: 15px; top: 23px; color: white">{{productsLength}}</span>
      <i [routerLink]="['/payment']" class="fa fa-shopping-basket"></i>
    </div>
    <span [routerLink]="['/home']" style="font-size: 30px;">UniBuy</span>
    <button [routerLink]="['/profile']" class="hey-button">Hey {{user ? user.email : 'Guest'}}!</button>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
